<div class="row">
  <div class="col-md-5 alignCenter">
    <div class="page-header-breadcrumb">
      <ul class="breadcrumb-title">
        <li class="breadcrumb-item">
          <a href="#!">
            <i class="icofont icofont-home"></i>
          </a>
        </li>
        <li class="breadcrumb-item"><a href="#!">Client</a></li>
      </ul>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 endColumn mb-10">
    <button class="btn btn-info btn-outline-info">
      <i class="fa fa-refresh"></i>
    </button>
    <button   class="btn btn-primary ml-2">
      <i class="fa fa-plus"></i> Ajouter
    </button>
    <button class="btn btn-info ml-2">
      <i class="fa fa-cloud"></i> Importer
    </button>
    <button class="btn btn-successMod2 del ml-2 ">
      <i class="fa fa-cloud-download"></i> Exporter
    </button>
  </div>

  <div class="col-md-12">
    <div class="card table-card">
      <div class="card-header">
        <div id="stats-widget">
          <h5>Liste Des Clients</h5>
          <hr class="my-3" />
        </div>
      </div>
      <div class="card-block p-10">
        <table  class="table table-striped table-bordered" style="width:100%">
          <thead>
            <tr>
              <th class="font-primary">
                ID
              </th>
              <th class="font-primary">
                Nom
              </th>
              <th class="font-primary">
                 Prenom
              </th>
              <th class="font-primary">
                Date Naissance
              </th>
              <th class="font-primary">
                CIN
              </th>
              <th class="font-primary">
                CA
              </th>
              <th></th>
            </tr>
          </thead>


        </table>
      </div>
    </div>
  </div>
</div>
