.dataTables_filter label input {
  border: 1px solid;
  border-color: beige;
  box-shadow: 1px 1px 3px #0c0b0b4f;
  padding: 5px;
}

.table.dataTable.no-footer {
  border-bottom: none;
}
.dataTables_wrapper .dataTables_filter input {
  border: none;
}
