
<div class="row">
  <div class="col-md-5 alignCenter">
    <div class="page-header-breadcrumb">
      <ul class="breadcrumb-title">
        <li class="breadcrumb-item">
          <a href="#!">
            <i class="icofont icofont-home"></i>
          </a>
        </li>
        <li class="breadcrumb-item"><a href="#!">Pays</a></li>
      </ul>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 endColumn mb-10">
    <button class="btn btn-info btn-outline-info">
      <i class="fa fa-refresh"></i>
    </button>
    <button (click)="addPays()" class="btn btn-primary ml-2">
      <i class="fa fa-plus"></i> Ajouter
    </button>
    <button class="btn btn-info ml-2">
      <i class="fa fa-cloud"></i> Importer
    </button>
    <button class="btn btn-successMod2 del ml-2 ">
      <i class="fa fa-cloud-download"></i> Exporter
    </button>
  </div>

  <div class="col-md-12">
    <div class="card table-card">
      <div class="card-header">
        <div id="stats-widget">
          <h5>Liste Des Pays</h5>
          <hr class="my-3" />
        </div>
      </div>
      <div class="card-block p-10">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered" style="width:100%">
          <thead>
            <tr>
              <th class="font-primary">
                ID
              </th>
              <th class="font-primary">
                Pays
              </th>
              <th class="font-primary">
                Devise
              </th>
              <th class="font-primary">
                Nombre Ville
              </th>
         <!--    <th class="font-primary">
                Nombre Client
              </th> --->
              
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr  class="odd" *ngFor='let pays of paysService.PaysList ; let i = index'>
              <td>{{pays.id}}</td>
              <td>{{pays.libelle}}</td>
              <td>{{pays.devise}}</td>
              <td>{{pays.nbrVille}}</td>
         <!--     <td>{{pays.nbrClient}}</td> -->
              <td>
                  <button (click)='detail(i)'  class="btn btn-primary btn-outline-primary btnTableau mr-2"><i class="icofont icofont-eye-alt"></i></button>
                  <button (click)='edit(i , pays.id)' class="btn btn-warning btn-outline-warning btnTableau mr-2"><i class="icofont icofont-edit"></i></button>
                  <button (click)='delete(pays.id)'   class="btn btn-danger btn-outline-danger btnTableau mr-2 del"><i class="icofont icofont-ui-delete "></i></button>
              </td>
            </tr>
           
            

          </tbody>
         
        </table>
      </div>
    </div>
  </div>
</div>


















