<div class="row">
  <div class="col-md-5 alignCenter">
    <div class="page-header-breadcrumb">
      <ul class="breadcrumb-title">
        <li class="breadcrumb-item">
          <a href="#!">
            <i class="icofont icofont-home"></i>
          </a>
        </li>
        <li class="breadcrumb-item">
          <a routerLink="../List">Ville > </a>
          <a >Nouvelle Ville</a>
        </li>
      </ul>
    </div>
  </div>


  <div class="col-xl-12 col-md-12">
    <div class="card  mt-10 p-1">
      <div class="card-header">
        <h5>Nouvelle Ville</h5>
        <hr>

      </div>
      <div class="card-block">

        <div class="row">
          <div class="col-md-12">
          <form #form = "ngForm" (submit) = "addVille(form)" >


                  <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Ville :  </label>
                      <div class="col-sm-9">
                          <input name="libelle" #libelle = "ngModel" [(ngModel)] = "villeData.libelle"
                           type="text" class="form-control" >
                      </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Pays : </label>
                    <div class="col-sm-9">
                        <select name="paysId" #paysId = "ngModel" [(ngModel)] = "villeData.paysId" name="paysId"
                          class="form-control">

                            <option selected="selected" value="">-Select-</option>
                            <option *ngFor='let p of paysList' [value]='p.id'>
                              {{p.libelle}}
                            </option>

                        </select>
                    </div>
                </div>


                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 endColumn mb-10">

                    <a [mat-dialog-close] class="btn light ml-2">
                      <i class="fa fa-arrow-left"></i> Retour
                    </a>
                    <button type="submit" class="btn btn-primary ml-2">
                      <i class="fa fa-save"></i> Enregistrer
                    </button>


                  </div>


          </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
