

<div class="row">
  <div class="col-md-5 alignCenter">
    <div class="page-header-breadcrumb">
      <ul class="breadcrumb-title">
        <li class="breadcrumb-item">
          <a href="#!">
            <i class="icofont icofont-home"></i>
          </a>
        </li>
        <li class="breadcrumb-item">
          <a [mat-dialog-close]>Utilisateur /</a>
          <a > Detail Utilisateur</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 endColumn mb-10">

    <a [mat-dialog-close] class="btn light ml-2">
      <i class="fa fa-arrow-left"></i> Retour
    </a>
    <button  class="btn btn-success ml-2">
      <i class="fa fa-pencil"></i> Modifier
    </button>


  </div>
  <div class="col-xl-12 col-md-12" *ngIf="userData">
    <div class="card  mt-10 p-1">
      <div class="card-header">
        <h5>Detail Utilisateur : {{userData.fullname}}</h5>
        <hr>
      </div>
      <div class="card-block" >

        <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Nom Complet  : </label>
                  <label class="col-sm-3 col-form-label">{{userData.fullname}}</label>
              </div>
              <hr>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Username  :</label>
                    <label class="col-sm-9 col-form-label">{{userData.username}}</label>
                </div>
                <hr>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Role : </label>
                    <label class="col-sm-9 col-form-label">{{userData.role}} </label>
                </div>
                <hr>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Email </label>
                    <label class="col-sm-9 col-form-label">{{userData.email}} </label>
                </div>
                <hr>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Tel </label>
                    <label class="col-sm-9 col-form-label">{{userData.phoneNumber}} </label>
                </div>




            </div>

        </div>
      </div>
    </div>
  </div>
</div>
