

<div class="row">
    <div class="col-md-5 alignCenter">
      <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
          <li class="breadcrumb-item">
            <a href="#!">
              <i class="icofont icofont-home"></i>
            </a>
          </li>
          <li class="breadcrumb-item">
            <a [mat-dialog-close]>Pays /</a>
            <a > Detail Pays</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 endColumn mb-10">

      <a [mat-dialog-close] class="btn light ml-2">
        <i class="fa fa-arrow-left"></i> Retour
      </a>
      <button  class="btn btn-success ml-2">
        <i class="fa fa-pencil"></i> Modifier
      </button>


    </div>
    <div class="col-xl-12 col-md-12" *ngIf="paysData">
      <div class="card  mt-10 p-1">
        <div class="card-header">
          <h5>Detail Pays : {{paysData.libelle}}</h5>
          <hr>
        </div>
        <div class="card-block" >

          <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Pays  : </label>
                    <label class="col-sm-3 col-form-label">{{paysData.libelle}}</label>
                </div>
                <hr>
                  <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Devise  :</label>
                      <label class="col-sm-9 col-form-label">{{paysData.devise}}</label>
                  </div>
                  <hr>
                  <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Nombre De Ville : </label>
                      <label class="col-sm-9 col-form-label">{{paysData.nbrVille}} </label>
                  </div>
                  <hr>





              </div>

          </div>
        </div>
      </div>
    </div>
  </div>
