

<div class="row">


  <div class="col-xl-12 col-md-12">
    <div class="card  mt-10 p-1">
      <div class="card-header">
        <h5>Consulter Produit : Produit1</h5>
        <hr>
      </div>
      <div class="card-block">

        <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Désignation  : </label>
                  <label class="col-sm-3 col-form-label">Produit1</label>
              </div>
              <hr>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Type  :</label>
                    <label class="col-sm-9 col-form-label">Produit</label>
                </div>
                <hr>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Famille  : </label>
                    <label class="col-sm-9 col-form-label">Famille Par Défaut </label>
                </div>
                <hr>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Référence  : </label>
                    <label class="col-sm-3 col-form-label">A-2020-001</label>
                </div>
                <hr>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Description  : </label>
                  <label class="col-sm-3 col-form-label">.....</label>

              </div>

            </div>
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">TVA Applicable :</label>
                      <label class="col-sm-3 col-form-label">0%</label>
                </div>
                <hr>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Prix D'achat HT : </label>
                    <label class="col-sm-3 col-form-label">250 DH</label>
                </div>
                <hr>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Prix De Vente HT : </label>
                    <label class="col-sm-3 col-form-label">300 DH</label>
                </div>
                <hr>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Unité :</label>
                    <label class="col-sm-3 col-form-label">Lot</label>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class=" col-md-12  endColumn mb-10">

      <a [mat-dialog-close] class="btn light ml-2">
        <i class="fa fa-arrow-left"></i> Retour
      </a>
      <button  class="btn btn-success ml-2">
        <i class="fa fa-pencil"></i> Modifier
      </button>


    </div>
</div>
