
<div class=" content">
  <div class=" row">
    <div class="col-md-12">
      <div class="head-info">
        <div class="leftSide">
        <div class=" card-header">
          <h4 class=" card-title">Liste Des Pays</h4>
          <p class=" category">Here is a subtitle for this table</p>
        </div>
      </div>
      <div class="rightSide">
          <div class="Button">
            <button class="btn btn-fill btn-primary mr-10">Ajouter Pays</button>
            <button class="btn btn-fill btn-secondary mr-10">Importer</button>
            <button class="btn btn-fill btn-danger">Exporter</button>
          </div>
      </div>
      </div>
    </div>
    <div class=" col-md-12">
      <div class=" card card-plain">


        <div class=" card-body">
          <div class=" table-responsive">
            <table class="table table-striped table-hover " id="">
              <thead class=" text-primary">
                <tr>
                  <th>ID</th>
                  <th>Pays</th>
                  <th>Devise</th>
                  <th class=" text-center">
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let p of paysData">
                  <td>{{p.id}}</td>
                  <td>{{p.libelle}}</td>
                  <td>{{p.devise}}</td>
                  <td>{{p.nbrVille}}</td>
                  <td>{{p.nbrVille}}</td>

                  <td class=" text-center">
                    <a (click)="test()"  class="myBtn detail" ><i class="fas fa-info"></i></a>
                    <a href="#" class="myBtn edit" ><i class="fas fa-edit"></i></a>
                    <a href="#" class="myBtn delete" ><i class="fas fa-trash-alt"></i></a>

                  </td>
                </tr>


              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
