<div class="row">
    <div class="col-md-5 alignCenter">
      <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
          <li class="breadcrumb-item">
            <a href="#!">
              <i class="icofont icofont-home"></i>
            </a>
          </li>
          <li class="breadcrumb-item">
            <a [mat-dialog-close]>Pays / </a>
            <a routerLink="AddProduit"> Nouveau Pays</a>
          </li>
        </ul>
      </div>
    </div>
  
    
    <div class="col-xl-12 col-md-12">
      <div class="card  mt-10 p-1">
        <div class="card-header">
          <h5>Nouveau Pays</h5>
          <hr>
  
        </div>
        <div class="card-block">
          
          <div class="row">
            <div class="col-md-12">
            <form #form = "ngForm" (submit) = "addUser(form)" >
              
               
                    
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Pays  </label>
                        <div class="col-sm-9">
                            <input name="libelle" #libelle = "ngModel" [(ngModel)] = "paysData.libelle"
                             type="text" class="form-control" >
                        </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Devise </label>
                      <div class="col-sm-9">
                          <input name="devise" #devise = "ngModel" [(ngModel)] = "paysData.devise"
                           type="text" class="form-control" >
                      </div>
                  </div>
                    <div class="form-group row">
                      <div class="col-sm-9">
                          <input name="nbrClient" #nbrClient = "ngModel" [(ngModel)] = "paysData.nbrClient"
                           type="hidden" class="form-control" value="0" >
                      </div>
                  </div>
                    <div class="form-group row">
                      <div class="col-sm-9">
                          <input name="nbrVille" #nbrVille = "ngModel" [(ngModel)] = "paysData.nbrVille"
                           type="hidden" class="form-control" value="0" >
                      </div>
                      <div class="col-sm-9">
                          <input name="id" #id = "ngModel" [(ngModel)] = "paysData.id"
                           type="hidden" class="form-control" value="0" >
                      </div>
                  </div>
                  
                  
                    
                   
                   

                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 endColumn mb-10">
      
                    <a [mat-dialog-close] class="btn light ml-2">
                      <i class="fa fa-arrow-left"></i> Retour
                    </a>
                    <button  class="btn btn-primary ml-2">
                      <i class="fa fa-save"></i> Ajouter
                    </button>
                    <button (click)='addUserRetour(form)'  class="btn btn-primary ml-2">
                      <i class="fa fa-save"></i> Ajouter Et Retour
                    </button>
                    
                    
                  </div>
                    
            
            </form>
            </div>  
             
          </div>
          
        </div>

      </div>
      
    </div>
  </div>
  