<div class="row">
    <div class="col-md-5 alignCenter">
      <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
          <li class="breadcrumb-item">
            <a href="#!">
              <i class="icofont icofont-home"></i>
            </a>
          </li>
          <li class="breadcrumb-item">
            <a routerLink="../List">Utilisateur > </a>
            <a routerLink="AddProduit">Nouveau Utilisateur</a>
          </li>
        </ul>
      </div>
    </div>


    <div class="col-xl-12 col-md-12">
      <div class="card  mt-10 p-1">
        <div class="card-header">
          <h5>Nouveau Utilisateur</h5>
          <hr>

        </div>
        <div class="card-block">

          <div class="row">
            <div class="col-md-12">
            <form #form = "ngForm" (submit) = "addUser(form)" >


                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Role </label>
                        <div class="col-sm-9">
                            <select name="role" #role = "ngModel" [(ngModel)] = "userData.role" name="role"
                              class="form-control">

                                <option selected="selected" value="">-Select-</option>
                                <option *ngFor='let r of roleList' [value]='r.name'>
                                  {{r.name}}
                                </option>

                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Nom d'utilisateur  </label>
                        <div class="col-sm-9">
                            <input name="username" #username = "ngModel" [(ngModel)] = "userData.username"
                             type="text" class="form-control" >
                        </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Password </label>
                      <div class="col-sm-9">
                          <input name="password" #password = "ngModel" [(ngModel)] = "userData.password"
                           type="password" class="form-control" >
                      </div>
                  </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Email  </label>
                        <div class="col-sm-9">
                            <input name="email" #email = "ngModel" [(ngModel)] = "userData.email"
                             type="email" class="form-control" >
                        </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Nom Complet  </label>
                      <div class="col-sm-9">
                          <input name="fullname" #fullname = "ngModel" [(ngModel)] = "userData.fullname"
                           type="text" class="form-control" >
                      </div>
                  </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Telephone </label>
                        <div class="col-sm-9">
                            <input name="tel" #tel = "ngModel" [(ngModel)] = "userData.phoneNumber"
                             type="text" class="form-control" >
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 endColumn mb-10">

                      <a [mat-dialog-close] class="btn light ml-2">
                        <i class="fa fa-arrow-left"></i> Retour
                      </a>
                      <button type="submit" class="btn btn-primary ml-2">
                        <i class="fa fa-save"></i> Enregistrer
                      </button>


                    </div>


            </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
