/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

/*
        Font => Roboto 
*/

/* Import Fonts */

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/*=============*/

/*=============Information ============================================

  => Modéle 1 (Produit)
    
    Primary Color : #01a9ac  Primary
    Second Color : #2DCEE3  Info
    Third Color : #0ac282  Success
    Fourth Color : #eb3422 Danger
    Last Color :  #fe9365 Warning

----------------------------------------------------

  =>  Modéle 2 ( Commande )

    Primary Color : #1a8ccd  Primary
    Second Color : #36a3f7  Info
    Third Color : #34BFA3  Success
    Fourth Color : #f4516c Danger
    Last Color :  #ffb822 Warning



/*===================================================================*/

.btn-primaryMod2{
    background-color: #1a8ccd ;
    color: #fff;
}
.btn-infoMod2{
    background-color: #36a3f7 ;
    color: #fff;
}
.btn-successMod2{
    background-color: #34BFA3 ;
    color: #fff;
}
.btn-dangerMod2{
    background-color: #f4516c ;
    color: #fff;
}
.btn-warningMod2{
    background-color: #ffb822 ;
    color: #fff;
}

/*===Font ======*/
.value1{
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 5px;
}
.fontInfo{
    color: #36a3f7;
}
.fontSuccess{
    color: #34BFA3;
}
.fontDanger{
    color: #f4516c;
}
.fontWarning{
    color: #ffb822;
}



/* Fix Template Beug */

.toggler-menu {
    float: left;
    font-size: 26px;
    margin-top: 3px;
}

.page-header-breadcrumb{
    float: left !important;
    margin-bottom: 10px;
  
}
.page-header-breadcrumb a , .page-header-breadcrumb i{
    font-size: 16px  !important;
}

.table td{
    vertical-align: middle;
}
.card .card-header h5{
    font-size: 16px !important;
}
.table > thead > tr > th{
    border-bottom:0;
    font-weight: 600;
}

.btn {
    font-size:14px;
}
.card-header h5{
    color: #4c6085;
font-weight: 400;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}


/*====================*/

/*
    Framework => 
*/
.font-primary{
    color:  #01a9ac;
    font-weight: 500 !important;
}
/*Center In Align Items (Flex)*/
.alignCenter{
    display: flex;
    align-items: center;
}

.endColumn{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* Margin Framework*/

.mt-10{
    margin-top: 10px;
}
.mt-30{
    margin-top: 30px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-10{
    margin-bottom: 10px;
}
/* Padding Framework*/
.btnTableau{
    padding: 4px;
    border-width: 1px;
}
.p-10{
    padding: 10px !important;
}

.widgetLabel{
    font-size: 1rem;
    text-transform: uppercase;
    color: #9699a2;
}
.calculTabNbr {

    color: #575962;
}

.produitTable th{
    color: #01a9ac;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 600;
}

.odd{
    background-color: #f9fbff !important;
}
.even{
    background-color: #fff !important;
}

.light{
    background: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 8px #0000
}
.danger {
    color: red;
}


/*==== Fix Popup*/

.cdk-overlay-pane{
    position: absolute !important;
    top: 10%;
    left: 20%;
}

















/*=============================

        Media Query

===============================*/

@media only screen and (max-width : 800px){
    .page-header-breadcrumb{
        display: none;
    }
    .alignCenter{
        justify-content: center;
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
