
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$black-dashboard-angular-primary: mat-palette($mat-indigo);
$black-dashboard-angular-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$black-dashboard-angular-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$black-dashboard-angular-theme: mat-light-theme($black-dashboard-angular-primary, $black-dashboard-angular-accent, $black-dashboard-angular-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($black-dashboard-angular-theme);

/* You can add global styles to this file, and also import other style files */
.head-info {
  display: flex;
}
.head-info .leftSide {
  width: 60%;
}
.head-info .righSide {
  width: 35%;
  display: flex;
  justify-content: flex-end;
}
.mr-10 {
  margin-right: 10px;
}
/*==== Start Change Table Background*/



/*==== End Change Table Background*/

.card-header {
  padding: 1.25rem 1.5rem;
  margin-bottom: 10px;
 background-color: #f6f9fc00 !important;
  border-bottom: 0.0625rem solid rgba(34, 42, 66, 0.05);
}


.card.card-plain {
  background: #27293d ;
  box-shadow: 0 1px 20px 0px rgba(0, 0, 0, 0.1);
}
.btn-outline-primary {
  color: #e14eca !important;
  background-color: transparent;
  background-image: none;
  border-color: #e14eca !important;
  box-shadow: 0 1px 20px 0px rgba(0, 0, 0, 0.1);

}

/*======= Framework =========*/
.myBtn {
    padding: 10px 19px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #7b2b2bf7;
    margin: 10px;
}

.delete{
  background-color: #fd5d93;
  color: #fff;

}
.edit {
  background-color: #344675;
  color: #fff;

}
.detail {
  background-color: #e14eca;
  color: #fff;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.mat-dialog-container {
  background-color: #27293d;
}
