<div class="page-wrapper">
  <!-- Page-header start -->
  <div class="page-header">
      <div class="row align-items-end">

          <div class="col-lg-4">
              <div class="page-header-breadcrumb">
                  <ul class="breadcrumb-title">
                    <div class="d-inline">
                      <h3>Statistique</h3>
                      <span>  Statistique Générale</span>
                  </div>

                  </ul>
              </div>
          </div>
      </div>
  </div>



  <div class="row">
    <div class="col-xl-6">
      <div class="row">
        <div class="col-xl-6 col-md-6">
          <div class="card">
              <div class="card-block">
                  <div class="row align-items-center m-l-0">
                      <div class="col-auto">
                          <i class="feather icon-user f-20 text-c-pink"></i>
                      </div>
                      <div class="col-auto">
                          <h5 class="text-muted m-b-10">Nombre Des Clients</h5>
                          <h2 class="m-b-0">{{clientNumbre}}</h2>
                      </div>
                  </div>
              </div>
          </div>
        </div>
        <div class="col-xl-6 col-md-6">
          <div class="card">
              <div class="card-block">
                  <div class="row align-items-center m-l-0">
                      <div class="col-auto">
                          <i class="feather icon-users f-20 text-c-pink"></i>
                      </div>
                      <div class="col-auto">
                          <h5 class="text-muted m-b-10">Nombre Des Commercial</h5>
                          <h2 class="m-b-0">{{commercialNumber}}</h2>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-md-6">
          <div class="card">
              <div class="card-block">
                  <div class="row align-items-center m-l-0">
                      <div class="col-auto">
                          <i class="feather icon-briefcase f-20 text-c-pink"></i>
                      </div>
                      <div class="col-auto">
                          <h5 class="text-muted m-b-10">Nombre Des Commandes</h5>
                          <h2 class="m-b-0">22</h2>
                      </div>
                  </div>
              </div>
          </div>
        </div>
        <div class="col-xl-6 col-md-6">
          <div class="card">
              <div class="card-block">
                  <div class="row align-items-center m-l-0">
                      <div class="col-auto">
                          <i class="feather icon-bell f-20 text-c-pink"></i>
                      </div>
                      <div class="col-auto">
                          <h5 class="text-muted m-b-10">Nombre Des Alertes</h5>
                          <h2 class="m-b-0">2</h2>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>





    </div>


    <div class="col-xl-6">
      <div class="col-xl-12 col-md-12">
        <div class="card user-card-full">
            <div class="row m-l-0 m-r-0" *ngFor ="let u of userData">
                <div class="col-sm-4 bg-c-lite-green user-profile">
                    <div class="card-block text-center text-white">
                        <div class="m-b-25">
                            <img src="assets\images\FH.jpg" class="img-radius" alt="User-Profile-Image">
                        </div>
                        <h3 class="f-w-600">{{u.fullname}}</h3>
                        <p>{{u.role}}</p>
                        <i class="feather icon-edit m-t-10 f-16"></i>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="card-block">
                        <h3 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h3>
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="m-b-10 f-w-500">Email</p>
                                <h6 class="text-muted f-w-400">{{u.email}}</h6>
                            </div>
                            <div class="col-sm-6">
                                <p class="m-b-10 f-w-500">Télephone</p>
                                <h6 class="text-muted f-w-400">06-23601148</h6>
                            </div>
                        </div>
                        <h3 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Projects</h3>
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="m-b-10 f-w-500">Dernier Connexion</p>
                                <h6 class="text-muted f-w-400">22:41</h6>
                            </div>
                            <div class="col-sm-6">
                                <p class="m-b-10 f-w-500">Date D'inscription</p>
                                <h6 class="text-muted f-w-400">12/06/2020</h6>
                            </div>
                        </div>
                        <ul class="social-link list-unstyled m-t-40 m-b-10">
                            <li><a href="#!" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="facebook"><i class="feather icon-facebook facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#!" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="twitter"><i class="feather icon-twitter twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#!" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="instagram"><i class="feather icon-instagram instagram" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

  </div>

</div>

<div class="page-wrapper">
  <!-- Page-header start -->
  <div class="page-header">
      <div class="row align-items-end">
        <div class="d-inline">
          <h3>Statistique</h3>
          <span>  Statistique Avancée</span>
        </div>

      </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-xl-3">
      <div class="card user-widget-card bg-c-blue">
          <div class="card-block">
              <i class="feather icon-user bg-simple-c-blue card1-icon"></i>
              <h4>Fethi Talbi</h4>
              <p>Top Client</p>
              <a href="#!" class="more-info">Plus ...</a>
          </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3">
    <div class="card user-widget-card bg-c-green">
        <div class="card-block">
            <i class="feather icon-user bg-simple-c-blue card1-icon"></i>
            <h4>Ali Bouchatba</h4>
            <p>Top Commercial</p>
            <a href="#!" class="more-info">Plus ...</a>
        </div>
    </div>
    </div>
    <div class="col-md-6 col-xl-3">
    <div class="card user-widget-card bg-c-yellow">
        <div class="card-block">
            <i class="feather icon-package bg-simple-c-blue card1-icon"></i>
            <h4>Produit X</h4>
            <p>Top Produit</p>
            <a href="#!" class="more-info">Plus ...</a>
        </div>
    </div>
    </div>
    <div class="col-md-6 col-xl-3">
    <div class="card user-widget-card bg-c-pink">
        <div class="card-block">
            <i class="feather icon-layers bg-simple-c-blue card1-icon"></i>
            <h4>652</h4>
            <p>Top Categorie</p>
            <a href="#!" class="more-info">Plus ...</a>
        </div>
    </div>
    </div>
    </div>





</div>






